:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.info-button {
  position: absolute;
  top: 50vh;
  right: 50vw;
  border-radius: 10px;
  padding: 4px;
  cursor: pointer;
  transform: scale(0, 0);
  transition: transform 0.3s;
  color: white;
}

.info-button.visible {
  transform: scale(1, 1);
}
